<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dk.pizzapp.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:name=".App"
                 android:label="PizzApp"
                 android:icon="@drawable/icon"
                 android:theme="@style/Theme.Styled">

        <uses-library android:name="com.google.android.maps"/>

        <activity android:name=".activity.Splashscreen"
                  android:label="PizzApp"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.Main"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.Info"
                  android:screenOrientation="portrait"/>
    </application>
</manifest> 
